In [1]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load in the data
pd.set_option('display.max_columns', None)

missing_values = ["n/a", "na", "--", "-", "NA", "NaN"]
crashes = pd.read_csv("crashes.csv", low_memory=False, na_values = missing_values)
crashes.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,06/25/2018,7:10,NaN,NaN,40.581917,-73.82978,"(40.581917, -73.82978)",BEACH 108 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3928593,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,07/13/2018,16:09,NaN,NaN,40.678276,-73.89744,"(40.678276, -73.89744)",JACKIE ROBINSON PKWY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Fell Asleep,Unspecified,Unspecified,Unspecified,NaN,3942476,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN
2,07/03/2018,21:50,BRONX,10461,40.855026,-73.84140,"(40.855026, -73.8414)",STILLWELL AVENUE,MCDONALD STREET,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3934983,Taxi,Pick-up Truck,NaN,NaN,NaN
3,07/16/2018,8:00,QUEENS,11367,40.719868,-73.82324,"(40.719868, -73.82324)",78 AVENUE,138 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3942578,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,06/25/2018,17:00,NaN,NaN,40.743275,-73.77572,"(40.743275, -73.77572)",LONG ISLAND EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3929800,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [3]:
# number of instances in the original dataset
crashes.shape

(1762131, 29)

In [4]:
# data types
crashes.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [5]:
# converting to datetime object

crashes["CRASH DATE"] = pd.to_datetime(crashes["CRASH DATE"])
crashes.dtypes

CRASH DATE                       datetime64[ns]
CRASH TIME                               object
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
dtype: object

In [6]:
crashes.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2018-06-25,7:10,NaN,NaN,40.581917,-73.82978,"(40.581917, -73.82978)",BEACH 108 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3928593,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2018-07-13,16:09,NaN,NaN,40.678276,-73.89744,"(40.678276, -73.89744)",JACKIE ROBINSON PKWY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Fell Asleep,Unspecified,Unspecified,Unspecified,NaN,3942476,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN
2,2018-07-03,21:50,BRONX,10461,40.855026,-73.84140,"(40.855026, -73.8414)",STILLWELL AVENUE,MCDONALD STREET,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3934983,Taxi,Pick-up Truck,NaN,NaN,NaN
3,2018-07-16,8:00,QUEENS,11367,40.719868,-73.82324,"(40.719868, -73.82324)",78 AVENUE,138 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3942578,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,2018-06-25,17:00,NaN,NaN,40.743275,-73.77572,"(40.743275, -73.77572)",LONG ISLAND EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3929800,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [7]:
# any missing values?
crashes.isnull().values.any()

True

In [8]:
# total number of missing values
crashes.isnull().sum().sum()

15015046

In [9]:
# how many missing values per feature?
crashes.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           541251
ZIP CODE                          541462
LATITUDE                          208771
LONGITUDE                         208771
LOCATION                          208771
ON STREET NAME                    355135
CROSS STREET NAME                 619573
OFF STREET NAME                  1499364
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       4956
CONTRIBUTING FACTOR VEHICLE 2     249452
CONTRIBUTING FACTOR VEHICLE 3    1644076
CONTRIBUTING FACTOR VEHICLE 4    1736734
CONTRIBUTING FACTOR VEHICLE 5    1755497
COLLISION_ID                           0
VEHICLE TYPE CODE 1                 9279
VEHICLE TYPE CODE 2               291511
VEHICLE TYPE CODE 3              1647277
VEHICLE TYPE CODE 4              1737446
VEHICLE TYPE CODE 5              1755671
dtype: int64

In [10]:
# percentage of missing values for each feature

values = crashes.isnull().sum().sort_values(ascending=False)
percent = crashes.isnull().mean().sort_values(ascending=False)
percent *= 100
missing_data = pd.concat([values, percent], axis=1, keys=['Values', 'Percent'])
missing_data.head(29)

                                Values    Percent
VEHICLE TYPE CODE 5            1755671  99.633398
CONTRIBUTING FACTOR VEHICLE 5  1755497  99.623524
VEHICLE TYPE CODE 4            1737446  98.599139
CONTRIBUTING FACTOR VEHICLE 4  1736734  98.558734
VEHICLE TYPE CODE 3            1647277  93.482096
CONTRIBUTING FACTOR VEHICLE 3  1644076  93.300441
OFF STREET NAME                1499364  85.088112
CROSS STREET NAME               619573  35.160439
ZIP CODE                        541462  30.727681
BOROUGH                         541251  30.715707
ON STREET NAME                  355135  20.153723
VEHICLE TYPE CODE 2             291511  16.543095
CONTRIBUTING FACTOR VEHICLE 2   249452  14.156269
LATITUDE                        208771  11.847644
LONGITUDE                       208771  11.847644
LOCATION                        208771  11.847644
VEHICLE TYPE CODE 1               9279   0.526578
CONTRIBUTING FACTOR VEHICLE 1     4956   0.281250
NUMBER OF PERSONS KILLED            31   0.001759
NUMBER OF PERSONS INJURED           18   0.001021
CRASH TIME                           0   0.000000
NUMBER OF CYCLIST INJURED            0   0.000000
NUMBER OF PEDESTRIANS INJURED        0   0.000000
NUMBER OF PEDESTRIANS KILLED         0   0.000000
NUMBER OF CYCLIST KILLED             0   0.000000
NUMBER OF MOTORIST INJURED           0   0.000000
NUMBER OF MOTORIST KILLED            0   0.000000
COLLISION_ID                         0   0.000000
CRASH DATE                           0   0.000000

In [11]:
# dealing or removing missing data with greater than 31 percent data missing

crashes = crashes.drop((missing_data[missing_data['Percent'] > 31]).index,1)
crashes.isnull().sum().max()

541462

In [12]:
values = crashes.isnull().sum().sort_values(ascending=False)
percent = crashes.isnull().mean().sort_values(ascending=False)
percent *= 100
missing_data = pd.concat([values, percent], axis=1, keys=['Values', 'Percent'])
missing_data.head(21)

                               Values    Percent
ZIP CODE                       541462  30.727681
BOROUGH                        541251  30.715707
ON STREET NAME                 355135  20.153723
VEHICLE TYPE CODE 2            291511  16.543095
CONTRIBUTING FACTOR VEHICLE 2  249452  14.156269
LATITUDE                       208771  11.847644
LONGITUDE                      208771  11.847644
LOCATION                       208771  11.847644
VEHICLE TYPE CODE 1              9279   0.526578
CONTRIBUTING FACTOR VEHICLE 1    4956   0.281250
NUMBER OF PERSONS KILLED           31   0.001759
NUMBER OF PERSONS INJURED          18   0.001021
CRASH TIME                          0   0.000000
NUMBER OF PEDESTRIANS INJURED       0   0.000000
NUMBER OF PEDESTRIANS KILLED        0   0.000000
NUMBER OF CYCLIST INJURED           0   0.000000
NUMBER OF CYCLIST KILLED            0   0.000000
NUMBER OF MOTORIST INJURED          0   0.000000
NUMBER OF MOTORIST KILLED           0   0.000000
COLLISION_ID                        0   0.000000
CRASH DATE                          0   0.000000

In [13]:
# Collision ID, LOCATION are not important, so we will drop the columns
crashes = crashes.drop(["COLLISION_ID", "LOCATION", "ON STREET NAME"], axis=1)
crashes.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,2018-06-25,7:10,NaN,NaN,40.581917,-73.82978,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
1,2018-07-13,16:09,NaN,NaN,40.678276,-73.89744,1.0,0.0,0,0,0,0,1,0,Fell Asleep,Unspecified,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
2,2018-07-03,21:50,BRONX,10461,40.855026,-73.84140,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,Taxi,Pick-up Truck
3,2018-07-16,8:00,QUEENS,11367,40.719868,-73.82324,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,Station Wagon/Sport Utility Vehicle,Sedan
4,2018-06-25,17:00,NaN,NaN,40.743275,-73.77572,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,Sedan,Station Wagon/Sport Utility Vehicle

In [14]:
crashes = crashes.dropna()
crashes

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,2018-07-03,21:50,BRONX,10461,40.855026,-73.841400,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,Taxi,Pick-up Truck
3,2018-07-16,8:00,QUEENS,11367,40.719868,-73.823240,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,Station Wagon/Sport Utility Vehicle,Sedan
5,2018-07-15,15:20,BRONX,10466,40.881264,-73.838750,0.0,0.0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,Sedan,Sedan
6,2018-07-16,10:50,QUEENS,11434,40.656160,-73.767360,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,Station Wagon/Sport Utility Vehicle,Box Truck
9,2018-07-08,13:30,QUEENS,11369,40.766090,-73.866760,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,Sedan,Motorcycle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762125,2012-07-27,18:30,MANHATTAN,10036,40.757339,-73.986013,0.0,0.0,0,0,0,0,0,0,Fatigued/Drowsy,Unspecified,PASSENGER VEHICLE,PASSENGER VEHICLE
1762127,2012-07-25,0:45,BRONX,10468,40.861732,-73.911814,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,PASSENGER VEHICLE,PASSENGER VEHICLE
1762128,2012-07-25,19:37,MANHATTAN,10016,40.745727,-73.978123,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,PASSENGER VEHICLE,UNKNOWN
1762129,2012-07-24,16:35,QUEENS,11385,40.694110,-73.897362,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,PASSENGER VEHICLE,VAN
1762130,2012-07-26,9:00,BROOKLYN,11220,40.647621,-74.022040,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON

In [15]:
crashes.isnull().sum()

CRASH DATE                       0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
dtype: int64