Mohammed Abdul Khaliq

In [1]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# load in the data
pd.set_option('display.max_columns', None)

missing_values = ["n/a", "na", "--", "-", "NA", "NaN"]
crashes = pd.read_csv("crashes.csv", low_memory=False, na_values = missing_values)
crashes.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,06/25/2018,7:10,NaN,NaN,40.581917,-73.82978,"(40.581917, -73.82978)",BEACH 108 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3928593,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,07/13/2018,16:09,NaN,NaN,40.678276,-73.89744,"(40.678276, -73.89744)",JACKIE ROBINSON PKWY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Fell Asleep,Unspecified,Unspecified,Unspecified,NaN,3942476,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN
2,07/03/2018,21:50,BRONX,10461,40.855026,-73.84140,"(40.855026, -73.8414)",STILLWELL AVENUE,MCDONALD STREET,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3934983,Taxi,Pick-up Truck,NaN,NaN,NaN
3,07/16/2018,8:00,QUEENS,11367,40.719868,-73.82324,"(40.719868, -73.82324)",78 AVENUE,138 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3942578,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,06/25/2018,17:00,NaN,NaN,40.743275,-73.77572,"(40.743275, -73.77572)",LONG ISLAND EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3929800,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [3]:
crashes.tail()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
1762126,07/23/2012,8:41,NaN,NaN,NaN,NaN,NaN,ZEREGA AVENUE,BRUCKNER BOULEVARD,NaN,0.0,0.0,0,0,0,0,0,0,Prescription Medication,Unspecified,NaN,NaN,NaN,80984,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1762127,07/25/2012,0:45,BRONX,10468,40.861732,-73.911814,"(40.8617318, -73.9118139)",CEDAR AVENUE,WEST FORDHAM ROAD,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,109622,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1762128,07/25/2012,19:37,MANHATTAN,10016,40.745727,-73.978123,"(40.7457274, -73.9781227)",EAST 34 STREET,3 AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,32277,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1762129,07/24/2012,16:35,QUEENS,11385,40.694110,-73.897362,"(40.6941097, -73.8973622)",CYPRESS AVENUE,COOPER AVENUE,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,213422,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1762130,07/26/2012,9:00,BROOKLYN,11220,40.647621,-74.022040,"(40.6476212, -74.0220397)",1 AVENUE,55 STREET,NaN,1.0,0.0,0,0,0,0,1,0,Unspecified,Unspecified,NaN,NaN,NaN,155982,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [4]:
# number of instances in the original dataset
crashes.shape

(1762131, 29)

In [5]:
# data types
crashes.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [6]:
crashes['CRASH_DATE_TIME'] = crashes['CRASH DATE'] + ' ' + crashes['CRASH TIME']

cols_to_drop = ['CRASH DATE', 'CRASH TIME']
crashes.drop(cols_to_drop, axis = 1, inplace = True)

In [7]:
crashes.head()

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,CRASH_DATE_TIME
0,NaN,NaN,40.581917,-73.82978,"(40.581917, -73.82978)",BEACH 108 STREET,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3928593,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,06/25/2018 7:10
1,NaN,NaN,40.678276,-73.89744,"(40.678276, -73.89744)",JACKIE ROBINSON PKWY,NaN,NaN,1.0,0.0,0,0,0,0,1,0,Fell Asleep,Unspecified,Unspecified,Unspecified,NaN,3942476,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,07/13/2018 16:09
2,BRONX,10461,40.855026,-73.84140,"(40.855026, -73.8414)",STILLWELL AVENUE,MCDONALD STREET,NaN,0.0,0.0,0,0,0,0,0,0,Backing Unsafely,Unspecified,NaN,NaN,NaN,3934983,Taxi,Pick-up Truck,NaN,NaN,NaN,07/03/2018 21:50
3,QUEENS,11367,40.719868,-73.82324,"(40.719868, -73.82324)",78 AVENUE,138 STREET,NaN,0.0,0.0,0,0,0,0,0,0,Unspecified,Unspecified,NaN,NaN,NaN,3942578,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,07/16/2018 8:00
4,NaN,NaN,40.743275,-73.77572,"(40.743275, -73.77572)",LONG ISLAND EXPRESSWAY,NaN,NaN,0.0,0.0,0,0,0,0,0,0,Following Too Closely,Unspecified,NaN,NaN,NaN,3929800,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,06/25/2018 17:00

In [ ]:
# converting to datetime object

crashes["CRASH_DATE_TIME"] = pd.to_datetime(crashes["CRASH_DATE_TIME"])
crashes.head()

In [ ]:
crashes.describe(include=['O'])

In [ ]:
crashes.describe()

In [ ]:
# any missing values?
crashes.isnull().values.any()

In [ ]:
# total number of missing values
crashes.isnull().sum().sum()

In [ ]:
# how many missing values per feature?
crashes.isnull().sum()

In [ ]:
# percentage of missing values for each feature

values = crashes.isnull().sum().sort_values(ascending=False)
percent = crashes.isnull().mean().sort_values(ascending=False)
percent *= 100
missing_data = pd.concat([values, percent], axis=1, keys=['Values', 'Percent'])
missing_data.head(29)

In [ ]:
# dealing or removing missing data with greater than 31 percent data missing

crashes = crashes.drop((missing_data[missing_data['Percent'] > 31]).index,1)
crashes.isnull().sum().max()

In [ ]:
values = crashes.isnull().sum().sort_values(ascending=False)
percent = crashes.isnull().mean().sort_values(ascending=False)
percent *= 100
missing_data = pd.concat([values, percent], axis=1, keys=['Values', 'Percent'])
missing_data.head(21)

In [ ]:
# COLLISION_ID, LOCATION, ON STREET NAME are not important, so we will drop the columns
crashes = crashes.drop(["LOCATION"], axis=1)
crashes

In [ ]:
crashes.isnull().sum().sum()

In [ ]:
crashes = crashes.dropna()
crashes

In [ ]:
crashes.reset_index(drop=True, inplace=True)
crashes.head()

In [ ]:
crashes.isnull().sum()

In [ ]:
crashes["YEAR"] = crashes["CRASH DATE"].dt.year
crashes["MONTH"] = crashes["CRASH DATE"].dt.month
crashes

In [ ]:
sns.distplot(crashes['YEAR'], hist=True, kde=False, 
             bins=10, color = 'blue',
             hist_kws={'edgecolor':'black'})